
<% if user_signed_in? %>

	<h2>Inloggad</h2>

<% else %>
	


	<div class="welcome">
		
		<h2>V채lkommen till CoachStats</h2>

		<p>H책ll koll p책 all statistik om dina spelare, tr채ningar och matcher.</p>
		<p><%= link_to 'Registrera', new_user_registration_path, class: "span" %> dig gratis idag!</p>
	</div>

<% end %>



